@import url("https://fonts.googleapis.com/css?family=Poppins");

html,
body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: "Poppins" !important;

  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
.container {
  max-width: 30em;
  min-height: 100vh;
}
.content img {
  width: 350px;
}
.content {
  display: flex;
  align-items: center;
  min-height: 90vh;
  justify-content: center;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiCardMedia-img {
  aspect-ratio: 1/1 !important;
}
.news .card {
  margin-bottom: 2vh;
}
.MuiCard-root {
  box-shadow: none;
}
.loading {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MuiTypography-root {
  font-family: "Poppins" !important;
}
.MuiTypography-h6 {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Poppins" !important;
}
.MuiTypography-body2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
}
.MuiTypography-subtitle2 {
  font-size: 0.8rem;
}
#category .swiper-slide {
  flex-shrink: 100 !important;
  width: 150px !important;
}
.news .swiper {
  padding-top: 0 !important;
}
.swiper {
  padding: 2vh 0 1vh 0 !important;
  max-width: 90vw;
  /* margin: 0 5vw; */
}

/* header */

/* hover cannot/shouldnt on sx & inline */
.css-1orzy9s:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 600px) {
  #header {
    width: 100vw;
  }
}
