html,
body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  max-width: 30em;
  min-height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  min-height: 90vh;
  width: 100vw;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.news,
.chip {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0 2%;
  margin-top: 2%;
}
.news {
  margin-bottom: 10%;
}
#category {
  margin-bottom: 2%;
}
.news .card {
  margin-bottom: 2vh;
}
.loading {
  height: 70vh;
  display: flex;
  align-items: center;
}
.MuiTypography-h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.MuiTypography-body2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.swiper-slide {
  flex-shrink: 100 !important;
  width: 150px !important;
}
.swiper {
  padding: 2vh 2vw !important;
  max-width: 90vw;

  margin: 0 5vw;
}

/* header */

.MuiInputBase-input {
  width: 0ch !important;
}
.MuiInputBase-input:focus {
  width: 20ch !important;
}
.css-1orzy9s {
  width: auto;
  background-color: rgba(255, 255, 255, 0);
}
.css-1orzy9s:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.css-dudo9s-MuiTypography-root {
  display: block !important;
}
@media (max-width: 600px) {
  #header {
    width: 100vw;
  }
}
